<h2><%= @post.title %></h2>
<h4><%= @post.body %></h4>


<h3> Tags: </h3>
<ol>
<% @post.tags.each do |tag| %>
<li><%= tag.name %><br></li>
<% end %>
</ol>


<h4><a href="/delete_post/<%=@post.id%>">Delete</a></h4>
<h4><a href="/edit_post/<%=@post.id%>">Edit</a></h4>
<h4><a href="/">Home</a></h4>

